In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
from myfunctions import *
z = ZipFileManager("data_zip.zip")

In [3]:
z.unzip_and_count()

File Extracted Successfully
.csv : 2

In [ ]:
z.choose_format('.csv')

['extracted\\News _dataset/Fake.csv', 'extracted\\News _dataset/True.csv']

In [3]:
true_data = pd.read_csv('extracted\\News _dataset/Fake.csv')
fake_data = pd.read_csv('extracted\\News _dataset/True.csv')
true_data.shape, fake_data.shape

((23481, 4), (21417, 4))

In [4]:
true_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true_data['truthfulness'] = 1
fake_data['truthfulness'] = 0

In [7]:
true_data.head()

,title,text,subject,date,truthfulness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [8]:
true_data['subject'].unique

<bound method Series.unique of 0               News
1               News
2               News
3               News
4               News
            ...
23476    Middle-east
23477    Middle-east
23478    Middle-east
23479    Middle-east
23480    Middle-east
Name: subject, Length: 23481, dtype: object>

In [11]:
true_data.iloc[0][1]

C:\Users\Asus\AppData\Local\Temp\ipykernel_2112\3431851077.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  true_data.iloc[0][1]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [14]:
true_df = true_data[['text', 'truthfulness']]
fake_df = fake_data[['text', 'truthfulness']]
true_df.head()

                                                text  truthfulness
0  Donald Trump just couldn t wish all Americans ...             1
1  House Intelligence Committee Chairman Devin Nu...             1
2  On Friday, it was revealed that former Milwauk...             1
3  On Christmas day, Donald Trump announced that ...             1
4  Pope Francis used his annual Christmas Day mes...             1

In [15]:
fake_df.head()

                                                text  truthfulness
0  WASHINGTON (Reuters) - The head of a conservat...             0
1  WASHINGTON (Reuters) - Transgender people will...             0
2  WASHINGTON (Reuters) - The special counsel inv...             0
3  WASHINGTON (Reuters) - Trump campaign adviser ...             0
4  SEATTLE/WASHINGTON (Reuters) - President Donal...             0

In [29]:
df = pd.concat([true_df.iloc[:500,:],fake_df.iloc[:500,:]], axis=0)

In [30]:
df.head()

                                                text  truthfulness
0  Donald Trump just couldn t wish all Americans ...             1
1  House Intelligence Committee Chairman Devin Nu...             1
2  On Friday, it was revealed that former Milwauk...             1
3  On Christmas day, Donald Trump announced that ...             1
4  Pope Francis used his annual Christmas Day mes...             1

In [36]:
df=df.sample(df.shape[0], ignore_index=True)
df.head(5)

                                                text  truthfulness
0  WASHINGTON (Reuters) - The Republican-led U.S....             0
1  Rather than take personal responsibility for t...             1
2  WASHINGTON (Reuters) - A lawyer for U.S. Presi...             0
3  Donald Trump is about to get his first real te...             1
4  WASHINGTON (Reuters) - Rex Tillerson will rema...             0

# Data Cleaning and Preprocessing

In [37]:
import pandas as pd
import nltk
import re
from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

nltk.download('punkt')
nltk.download('stopwords')

ModuleNotFoundError: No module named 'nltk'